.singular_tablet{
    position: relative;
    max-height: 500px;
    height: 500px;
    min-height: fit-content;
    max-width: 300px;
    min-width: 250px;
    width: fit-content;
    background-color: rgba(5, 7, 7, 0.5);
    margin: 10px;
    padding-top: 1px;
    border-radius: 5px;
    cursor: pointer;
}
.singular_tablet:hover{
    box-shadow: 8px 8px 10px rgba(118, 143, 143, 0.39) ;
    background-color: rgba(5, 7, 7, 0.699);
}
.first_div{
    top: 0;
    height: 60%;
}
.second_div{
    bottom: 0;
    max-height: 40%;
    min-height: fit-content;
}
.room_name{
    font-weight: bold;
}
.tablet_description{
    color: whitesmoke;
    margin-top:5px;
    margin-bottom:5px;
}
.tablet_info{
    margin:15px;
    text-align: left;
    justify-content: space-around;
}
.product_img{
    border-radius: inherit;
    top: 0;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.pricing{
    display: flex;
    margin-left:30%;
}
.price_tag{
    color: gold;
    text-decoration: solid;
    margin-left: 2px;
}
.tablet_buttons{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    
}
.button_instance{
    background-color: rgb(100, 96, 96);
    margin:5px;
    height: 10%;
    width: 30%;
    min-width: fit-content;
    border-radius: 5px;
    border: none;
    color:white;
    padding:10px;
    box-sizing: border-box;
    cursor: pointer;
}
.button_instance:hover{
    background-color:white;
    color: black;
}
