.main_header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 4vh;
    background-color: rgb(28, 28, 29);
    border-bottom: 0.5px solid rgb(104, 102, 102);
    border-top: 0.5px solid rgb(104, 102, 102);
    box-sizing: border-box;
}
.username{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}
.hotel_name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100%;
    width: 20%;
}
.authorization_button{
    background-color: inherit;
    color: white;
    border: none;
    font-weight: bold;
    height: 100%;
    width: 50%;
    cursor: pointer;
}
.authorization_button:hover{
    background-color: white;
    color: black;
}




