.individual_div_booking{
    position: relative;
    margin: 5px;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    min-width: 400px;
    min-height: 200px;
    max-width: 600px;
    max-height: 400px;
    width: 45%;
    height: 22%;
    border-radius: 10px;
}
.name_and_data{
    display: flex;
    font-weight: 500;
    font-size: medium;
}
.column_name_booking{
    color: rgb(196, 167, 5);
    font-weight: bold;
    font-size: medium;
}
.first_div_booking{
    display: flex;
    padding-bottom: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
}
.cancel_button{
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border: solid 2px rgb(0, 255, 221);
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
}
.cancel_button:hover{
    color: black;
    background-color: rgb(0, 255, 221);
}
.second_div_booking{
    padding-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
}

.third_div_booking{
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fourth_div_booking{
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


